.container-fluid {
    padding-left: 3px !important;
}
.bg-title {
    margin-bottom: 3px !important;
}
.search-box label input,
.search-box label select {
    margin-left: 5px;
}
#side-menu li.active > a span.arrow:before {
    content: "\e604";
}
#layout-master .breadcrumb
{
    margin-top: 0;
    padding: 5px 0;
    float: left;
}
.tabs_content_child {
    display: none;
}
.tabs_content_select {
    display: block;
}
.tabs_menu_child a {
    background-color: #eee;
}
.tab-icon {
    padding-left: 5px;
}
.tab-close {
    vertical-align: middle;
    color: #fb9678;
}
.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 5px !important;
}
.bold {
    font-weight: bold !important;
}
.form-inline > label {
    margin-right: 15px;
}

.table-bordered tbody > tr > td {
    padding: 8px 10px;
}
.table > thead > tr > td {
    padding: 10px 8px;
}
.mg-top-0 {
    margin-top: 0;
}
.mg-bottom-0 {
    margin-bottom: 0;
}
.pagination
{
    margin: 0 !important;
}
.control-label,
.bold {
    /*color: #1b5f9a;*/
    font-weight: bold;
}
span.fa-check-circle.fa-2x,
span.fa-2x {
    font-size: 20px;
}
.padd-0 {
    padding: 0 !important;
}
.padd-10 {
    padding: 10px !important;
}
.fa-circle {
    color: #ccc;
}
.fa-circle:hover {
    color: #ccc;
}
.clearleft {
    clear: left;
}
.modal {
    margin-top: 5%;
    transition: all 0.5s ease-in-out;
    -webkit-transform:scale(.5, .5);
}
.fade.in {
    display: block;
    -webkit-transform:scale(1, 1);
}
.modal .close {
    margin-top: -2px;
    font-size: 11px;
    color: #9E9E9E;
    opacity: 1;
}
#tableModule > tbody > tr > td,
#tableCategory > tbody > tr > td,
#tableModule > thead > tr > th,
#tableCategory > thead > tr > th {
    padding: 5px 0px;
}