#layout-master .breadcrumb
{
    margin-top: 0;
    padding: 5px 0;
    float: left;
}
.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 5px !important;
}
.bold {
    font-weight: bold !important;
}
.form-inline > label {
    margin-right: 15px;
}

.table-bordered tbody > tr > td {
    padding: 10px;
}
.mg-top-0 {
    margin-top: 0;
}
.mg-bottom-0 {
    margin-bottom: 0;
}
.pagination
{
    margin: 0 !important;
}
.control-label,
.bold {
    /*color: #1b5f9a;*/
    font-weight: bold;
}
span.fa-check-circle.fa-2x,
span.fa-2x {
    font-size: 20px;
}
.padd-0 {
    padding: 0 !important;
}
.fa-circle {
    color: #ccc;
}
.fa-circle:hover {
    color: #ccc;
}