.nav-tab {
  top: 5.9rem;
}
.slider-container {
  background: #ebebeb;
}
.header-topbar {
  background: #86C724 !important;
}
.header-topbar .top-left p {
  color: #fff !important;
}
.header-topbar .top-right a {
  color: #fff !important;
}
.header.new-nav .menu-link a:not(.link-title) {
  color: #2d2d2d !important;
}
.grid-fixed .grid-col--fixed-tiles {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.grid-fixed .grid-col--fixed-tiles .favorite {
  width: 55px;
  height: 55px;
  background-position: -2px 0.3rem;
}
.content-card {
  box-shadow: none;
  /*background: #fff;*/
}
#pageFooter {
  border-top: 5px solid #ebebeb !important;
}
