.control-label-header {
    overflow: hidden;
}
.media_img_prev {
    float: right;
    margin-left: 5px;
    &:hover {
        .editor_tool_step {
            display: block;
        }
    }
    .step_img {
        position: relative;
        .step_img_placeholder {
            width: 150px;
            height: 110px;
        }
    }
}
.media_body_prose {
    display: table-cell;
    width: 10000px;
    overflow: hidden;
    textarea {
        height: 110px;
    }
}
#ui-id-1,
.ui-autocomplete
{
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
    list-style: none;
    width: 300px;
    background: rgb(237, 241, 245);
    border: 1px solid rgb(237, 241, 245);
    .ui-menu-item {
        padding: 5px;
        &:hover {
            cursor: pointer;
            background-color: #C8E195;
        }
    }
}
